#myText{
	width: 600px;
	height: 300px;
}

#editor{
	text-align: center;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















